@model Payroll.Models.IncomeViewModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Income Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">


        @*<dt>
            @Html.DisplayNameFor(model => model.IncomeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeValue)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.IncomeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IncomeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
