@model IEnumerable<Payroll.Models.AssignedEmployeeDeductionsViewModel>

@{
    ViewBag.Title = "AssignDeductions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign Deduction for : @ViewBag.Name</h2>


<p>
    @Html.ActionLink("Add Deductions", "AddDeduction", new { id = ViewBag.Id })
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.UserPersonalInformationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedEmployeeDeductionsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeductionId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DeductionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeductionAmount)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
  
        <td>
            @Html.DisplayFor(modelItem => item.DeductionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeductionAmount)
        </td>


        <td>@Html.ActionLink("Delete", "DeleteDeduction", new { id = item.UserPersonalInformationId, deductionId = item.DeductionId })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to List", "Employees")
</div>