@model IEnumerable<Payroll.Models.DepartmentViewModels>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        @*<th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="location.href = '@(Url.Action("Edit", "Department", new { id = item.DepartmentId }, null))'">


            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentDescription)
            </td>
            <td>
                @if (item.Active)
                {
                    <p>Active</p>
                }
                else
                {
                    <p>In Active</p>
                }
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DepartmentId })
                </td>
        </tr>
    }

</table>*@
<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.DepartmentId).Titled("Department Id").Filterable(true);
                        columns.Add(c => c.DepartmentName).Titled("Department Name").Filterable(true);
                        columns.Add(c => c.DepartmentDescription).Titled("Department Description");
                        columns.Add(c => c.Active).Titled("Status");
                        columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.DepartmentId }));

                    }).WithPaging(20).Sortable(true)
</div>